body {
  margin-left: auto;
  margin-right: auto;
  font-family: "Concert One", sans-serif;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: #e5ceb5;
}

#game-title {
  margin-top: 25px;
  margin-bottom: 10px;
  border: 1px solid red;
}

#game-title-text {
  font-size: 60px;
  font-family: "Chewy", sans-serif;
  border: 2px solid red;
  word-spacing: 0.15em;
  background-image: url("/src/assets/images/woodenBackground1.jpg");
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px black;
  padding: 10px 5px;
  animation-name: game-title-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  display: inline;
}

@keyframes game-title-animation {
  100% {background-image: url("/src/assets/images/woodenBackground2.jpg"); -webkit-text-stroke: 2px black}
}

.title-icon {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  text-transform: capitalize;
}

#title-icon1 {
  font-size: 30px;
  animation-name: title-icon-animation1;
}

#title-icon2 {
  font-size: 45px;
  animation-name: title-icon-animation2;
}

#title-icon3 {
  font-size: 60px;
  animation-name: title-icon-animation3;
}

@keyframes title-icon-animation1 {
  0% {color: #A4835F}
  100% {color: none}
}

@keyframes title-icon-animation2 {
  0% {color: #A4835F}
  100% {color: none}
}

@keyframes title-icon-animation3 {
  0% {color: #A4835F}
  100% {color: none}
}

#game-frame {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid blue;
  width: 80%;
  height: 80%;
  text-align: center;
}

footer {
  border: 2px solid green;
  font-size: 18px;
  padding: 5px 15px;
}