#level-title {
  position: absolute;
  font-size: 2.5vw;
  right: 2vw;
  top: 2.5vw;
  color: rgba(44, 27, 23, 0.8);

  #level-number {
    color: black;
  }
}

#level-info {
  font-size: 1.8vw;
  position: absolute;
  left: 1vw;
  top: 6.5vw;
  color: rgba(44, 27, 23, 0.8);
  line-height: 1.3em;

  .points {
    color: black;
  }
}

#pop-up-container {
  position: absolute;
  width: 20vw;
  left: 30vw;
  text-align: center;
  background-color: rgba(82, 57, 52, 0.3);
  border-radius: 10px;
  top: 0.3vw;
  font-size: 1.5vw;
  color: rgb(82, 57, 52);
}

#current-level-timer {
  font-size: 1.8vw;
  position: absolute;
  left: 1vw;
  top: 2.5vw;
  color: rgba(44, 27, 23, 0.8);

  #count-down-timer {
    color: black;
  }
}

#unclickable {
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  bottom: 2.5vw;
  left: 30vw;
  right: 30vw;
}

#end-game-popup-container {
  background-color: rgba(183, 157, 141, 0.9);
  position: absolute;
  width: 30vw;
  height: 8vw;
  text-align: center;
  border-radius: 10px;
  top: 15vw;
  left: 25vw;
  font-size: 1.5vw;
  padding: 1vw;

  #end-game-popup-msg {
    margin-bottom: 0.8vw;
  }

  #end-game-popup-btn {
    margin-left: auto;
    margin-right: auto;
    width: 10vw;
    height: 2vw;
    border: 1px solid gray;
    border-radius: 10px;
    color: rgb(210, 204, 204);
    background-color: rgba(82, 57, 52, 0.7);
    box-shadow: 0px 3px 1px 0px rgba(44, 27, 23, 0.8);
    text-align: center;
    cursor: url("../src/assets/images/click.png") 5 5, pointer;
  }

  #end-game-popup-btn:hover {
    color: black;
    box-shadow: none;
  }
}