#level1-bb-text-container {
  font-family: "Cousine", sans-serif;
  position: absolute;
  top: 8vw;
  left: 25vw;
  width: 30vw;
  font-weight: 500;
  font-size: 1.5vw;
  color: rgb(82, 57, 52);
  line-height: 1.3em;
}

#level1-students {
  display: grid;
  position: absolute;
  grid-template-columns: auto auto;
  bottom: 2.5vw;
  left: 30vw;
  right: 30vw;
  row-gap: 4vw;
  column-gap: 8vw;
  text-align: center;
  // color: rgba();
  
  .level1-students-img {
    width: 4vw;
    height: 4vw;
    cursor: pointer;
    animation-name: shake;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
  }

  @keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }  
  }
}